*{
    margin: 0px;
    padding: 0px;
}
html{
   scroll-behavior: smooth;
}
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: #000000 0px 0px 10px;
    /* background-color:rgb(173 162 162 / 50%);  */
}
#logo{margin: 8px 0px 5px 7px;}
#logo img{
    height: 58px;
    width: 61px;
    border: 2px solid black;
    border-radius: 39px;

}
.leftnav{
    display: flex;
    align-items: center;
    width: 70%;
}

.navbar ul li{
    list-style: none;
    margin: 15px;
    padding: 10px 12px;
}
.navbar ul li a{
    color: rgb(7, 6, 6);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 5px 5px;
    transition: all .6s ease-in-out;
}
.navbar ul li a:hover{
    color: white;
    border-radius: 10px;
    /* background-color:#9098a2; */  
}

.rightnav{
    width: 30%;
    text-align: right;
    padding: 25px 33px;
}
.rightnav input{
    margin: 0px 10px;
    /* width: 187px; */
    padding: 6px 16px;
    border-radius: 10px;
    box-shadow: #000000 2px 4px 4px;
}
.btn{
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    background: none;
    box-shadow: #000000 2px 4px 4px;
    transition: all .4s ease-out;
}
.btn:hover{
    background-color: black;
    color: white;
}

/* section firstsec */

.firstsec{
    background: url(images/bg.jpg) no-repeat center center fixed;

    background-size: cover;
    height: 92vh;
}
.box-main{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 76%;
    margin: auto;
    height: 100%;
}
.firsthalf{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.txt-big{
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: #403434;
    text-shadow: #8e8c8c 2px 4px 4px;
    /* font-weight: bold; */
}
.txt-sm{
   font-size: 16px;
}
.buttons{
    margin: 14px 0px;
}
#btn{
    margin: 0px 10px;
}

/* first section  */
#services{padding: 35px 0px;}
.section{   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    max-width: 80%;
    padding: 15px 0px;
}
.left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 28px;
}
.thumbnail img {
    width: 25vh;
    height: 146px;
    border: 2px solid black;
    margin-top: 35px;
    box-shadow: #000000 3px 5px 7px;
    border-radius: 16px;
}
.par{
    padding: 10px 0px;
}
/* about section  */
#about-us{padding: 100px 0px;}
.container{
    display: flex;margin-left: auto;max-width: 89%;
}
.container h1{
    width: 56%;
    /* text-align: center; */
    margin: auto;
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    color: #403434;
    text-shadow: #8e8c8c 7px 4px 6px;
}
.about-image{
    text-align: center;
    margin: 19px 0px;
    position: relative;
}
.about-image img{
    width: 93%;
}
.first-txt{
    position: absolute;
    top: 10%;
    max-width: 20%;
    left: 25%;
    font-family: 'Roboto Slab', serif;
}
.second-txt{
    position: absolute;
    top: 10%;
    max-width: 20%;
    left: 50%;
    font-family: 'Roboto Slab', serif;
}
/* contact section  */
#contact-us{padding: 50px 0px;}
.contact{
    background-color: #f1eae0;
    height: 455px;
    text-align: center;
}
.form{
    max-width: 40%;
    display: flex;
    margin: 5px auto;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.form h2{
    padding: 10px;
}
.form-input{
    padding: 10px;
    margin: 6px;
    border: 2px solid #949191;
    border-radius: 8px;
}
#submit-btn{
    width: 30%;
    cursor: pointer;
    background-color: #1f1e1e;
    color: #f1eae0;  
}

/* footer section  */
#footer{
    text-align: center;
}

.burger{
    display: none;
    position: absolute;
    top: 10px;
    right: 5%;
    cursor: pointer;
    
}
.line{
    width: 29px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}



/* media query */
@media only screen and (max-width:1080px){
    /* body{
        background-color: aqua;
    } */
    .navbar{
        height: 377px;
        flex-direction: column;
        transition: all .5s ease-out;
    }
    #logo{margin-top: 23px;}

    .txt-big{font-size: 1.5rem;}
    .txt-sm{font-size: 14px;}
    .leftnav{
        width: 100%;
        flex-direction: column;
    }
    #logo img{
        height: 50px;
        width: 52px;
    }
    .rightnav{
        width: 81%;
        text-align: center;
        padding: 10px 33px;
    }
    .navbar ul li{margin: 5px;}
    .navbar ul li a {
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        text-align: center;
    }
    .firsthalf{
        width: 83%;
    }
    .sechalf {
        width: 210px;
    }
    .btn{
        margin-top: 10px;
        color: rgb(0, 0, 0);
    }
    /* about section */
    .container{flex-direction: column;
        margin-left: 0;
        max-width: none;
}
    .container h1{font-size: 3rem; text-align: center;}
    .first-txt{
        top: 9%;
        max-width: 24%;
        font-size: 54%;
        left: 21%;
    }
    .second-txt{
        top: 9%;
        max-width: 24%;
        left: 49%;
        font-size: 54%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 45px;
        /* background-color:rgb(173 162 162 / 50%);  */
    }
    .v-class-resp{
        display: none;
    }
    .section{
        max-width: 97%;
        height: 49%;
        margin: 15px 0;
        flex-direction: column-reverse;
    }
    .thumbnail{
        margin: auto;
        width: 200px;
    }
    .thumbnail img{
        width: 100%;
        border-radius: 28px;
    }
    #submit-btn {
        width: 65px;
    }
    .form{
        max-width: 65%;
    }
    footer{font-size: 13px;}
}